//login//

@media all and (max-width: 1360px) {
    .productCart__thumbnail {
        margin-right: 10% !important;
    }
    .productCart__nameDescription {
        margin-right: 22% !important;
    }
}

@media all and (max-width: 1360px) {
    .productCart__thumbnail {
        width: 26% !important;
    }
}

@media all and (max-width: 1200px) {
    .login {
        top: 20% !important;
    }
    .oneProduct {
        font-size: 0.7em !important;
    }
    .productItem__presentation {
        height: 500px !important;
        .productItem__image {
            img {
                object-fit: cover !important;
            }
        }
    }

    .productsCart {
        width: 65% !important;
        .productCart__thumbnail {
            width: 29% !important;
        }
    }

    .checkoutDiv {
        width: 30% !important;
        input,
        textArea {
            width: 80% !important;
        }
    }
}

@media all and (max-width: 1036px) {
    .login {
        top: 15% !important;
    }
    .productItem__highlight {
        font-size: 1.3em !important;
    }
}

@media all and (max-width: 1025px) {
    .login {
        padding-top: 150px;
        margin-bottom: 120px;
        top: 13% !important;
        position: relative !important;
        padding-bottom: 50px;
        width: 80% !important;
        align-items: center;
        .accounts {
            justify-content: center;
            .signLogo {
                margin-left: 45%;
            }
        }
        input {
            width: 50%;
        }
        &__buttons {
            flex-direction: column !important;
            width: 100%;
            margin-top: 25px;
            align-items: center;
            button {
                margin-bottom: 5px;
                width: 100%;
            }
        }
    }
    .loginImage {
        display: none !important;
    }
}

@media all and (max-width: 850px) {
    .breadscrumbs {
        font-size: 2em;
        margin-left: 2% !important;
    }
    .ordersFilters {
        display: flex;
        flex-direction: column !important;
        &__filters {
            margin-top: 20px;
        }
        hr {
            width: 40%;
        }
    }
    .login {
        padding-top: 0 !important ;
        margin-bottom: 0 !important;
        top: 13% !important;
        position: relative !important;
        padding-bottom: 50px;
        width: 80% !important;
        align-items: center;
        .accounts {
            justify-content: center;
            .signLogo {
                margin-left: 45%;
            }
        }
        input {
            width: 50%;
        }
        &__buttons {
            flex-direction: column !important;
            width: 100%;
            margin-top: 25px;
            align-items: center;
            button {
                margin-bottom: 5px;
                width: 100%;
            }
        }
    }
    .loginImage {
        display: none !important;
    }

    .productGallery {
        padding: 0 !important;
        .productDiv .product {
            width: 300px !important;
        }
    }
    .productItem__presentation {
        height: 400px !important;
        .productItem__image {
            img {
                object-fit: cover !important;
            }
        }
    }

    .productItem__gallery {
        height: 200px !important;
    }

    .productItem__lessImages {
        display: none !important;
    }

    .productItem__description {
        height: 300px !important;
    }
    .productItem__highlights {
        width: 100% !important;
        h3 {
            text-align: center;
        }
        .productItem__highlight {
            font-size: 1.5em !important;
        }
    }
    .checkoutProducts {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
        .checkoutDiv {
            border-radius: 25px !important;
            margin-left: 0 !important;
            width: 90% !important;
            height: 550px !important;
            position: relative !important;
            .checkout{
                margin-left: 0 !important;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 90%;
            }
        }
    }

    .productsCart{
        width: 80% !important;
    }

}

@media all and (max-width: 700px) {
    .productGallery {
        .productDiv {
            .productLarge {
                width: 500px;
            }
        }
    }

    .arrow {
        right: 40px !important;
    }

    .ordersFilters {
        hr {
            width: 40%;
        }
    }

    .productItem__gallery {
        height: 200px !important;
        .productImages:nth-child(even) {
            display: none !important;
        }
    }
    .productItem__presentation {
        .productItem__image {
            width: 70% !important;
            img {
                object-fit: cover !important;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .productItem__presentation {
        flex-direction: column !important;
        align-items: center;
        .productItem__image {
            margin-bottom: 20px;
        }
        .productItem__introduction {
            padding: 0%;
        }
    }
    .productItem__gallery {
        margin-top: 370px;
    }
    .breadscrumbs {
        font-size: 1em;
    }
}

@media all and (max-width: 550px) {
    .login {
        input {
            width: 80% !important;
            padding: 5px !important;
        }
        &__buttons {
            width: 80%;
            button {
                margin-bottom: 5px;
                width: 100% !important;
            }
        }
    }
    .productGallery {
        .productDiv {
            .productLarge {
                width: 400px;
            }
        }
    }

    .arrow {
        right: 50px !important;
        width: 10px !important;
        height: 10px !important;
    }

    .ordersFilters {
        hr {
            width: 48%;
        }
    }
    .productItem__highlights {
        width: 100% !important;
        margin-bottom: 50px;
        .productItem__highlight {
            margin-top: 0px;
            font-size: 1em !important;
        }
    }
    .productItem__gallery {
        margin-top: 300px;
    }
    .footerProduct {
        margin-top: 50px !important;
    }
}

@media all and (max-width: 500px) {
    .productItem__highlights {
        margin-bottom: 200px !important;
        .productItem__highlight {
            font-size: 1.2em !important;
        }
    }
}

@media all and (max-width: 450px) {
    .productGallery {
        .productDiv {
            .productLarge {
                width: 300px;
            }
        }
    }
    .filters {
        .arrow {
            right: 20px !important;
        }
    }
    .ordersFilters {
        hr {
            width: 60%;
        }
    }

    .productItem__gallery {
        margin-top: 220px;
    }

    .productItem__highlights {
        .productItem__highlight {
            font-size: 1em !important;
        }
    }
}

@media all and (max-width: 376px) {
    body {
        width: 100%;
    }
    .login {
        input {
            width: 80% !important;
            padding: 5px !important;
        }
        &__buttons {
            width: 80%;
            button {
                margin-bottom: 5px;
                width: 100% !important;
            }
        }
    }

    .productItem__buttons {
        font-size: 0.8em;
        margin-top: 20px;
    }
    .productItem__gallery {
        margin-top: 260px;
    }

    .footerProduct {
        margin-top: 80px !important;
    }
}
